<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connGes" connectionString="Database=iaCore_GestionEsterilizacion;Server=DESKTOP-FSB12ME\SQLEXPRESS01;user id=WebIa;password=Pepe7686474!;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
<appSettings>
    <!--Modo 0 = local ; Modo 1: produccion -->
    <add key="Modo" value="0"/>
    <add key="Proyecto" value="1"/>
    <add key="IdUsuario" value="1"/>
    <add key="IdPerfil" value="1"/>
    <add key="usuarioNombre" value="JOSE ARCOS"/>
    <add key="usuarioEmail" value="jarcos@iarcos.cl"/>
    <add key="usuarioPerfil" value="IACORE"/>
    <add key="Desarrollo" value="http://localhost:27439/"/>
    <add key="TopeRegistro" value="15"/>
    <add key="Produccion" value="https://geshospitalelpino.iarcos.cl/"/>
  </appSettings>
</configuration>